* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 2000px;
  background-color: #f6f8f9;
}

header{
 
}

main {
  
}

h1 {
  display: inline-block;
  font-size: 80px;

}

h2{
color: rgb(86, 85, 85);
padding-left: 30px;
font-size: 30px;

}

h2::before{
content: ' ∇'; 

}


li{
padding-left: 25px;
list-style-type: none;
font-size: 20px;
}

ul li::before{
content: ' ✓ ';
border-color: green;
border-style: solid;
border-radius: 50%;
padding: 1px;
color: green;

}


/* header */

header {
  width: 3000px;
  padding-left: 40px;
  padding-top: 40px;
  background-color: white;
}

.logo img {
  width: 100px;
  vertical-align: middle;
}


/* main */

.page{
  width: 1800px;
  padding: 20px;
  background-color: white;
  margin-left: 400px;
  margin-top: 50px;
}

.container{
  padding-left: 50px;
}


.container .button1 {
  display: inline-block;
  width: 100px;
  background-color: #46adf1;
  padding: 10px;
  border-radius: 10%;
  color: white;
  text-align: center;
  font-size: 20px;
}

.container .button2 {
  display: inline-block;
  width: 200px;
  border-color: lightgray;
  padding: 10px;
  border-radius: 10%;
  color: lightgray;
  text-align: center;
  font-size: 20px;
  border-style: solid;
}

.lista{
  width: 1800px;
  padding: 20px;
  background-color: white;
  margin-left: 400px;
  margin-top: 5px;
}

.tag{
padding: 5px;
width: 100px;
border-radius: 30%;
color: white;
}

.blu{
background-color: #46adf1;
}
.viola{
background-color: #9c72e4;
}
.verde{
background-color: ##64C0A9;
}
.arancio{
background-color: #F29E33;
}
.rosa{
background-color: #D763A1;
}
.giallo{
background-color: #B0C925;
}

.x::before{
  content:'	✕' ;
  border-color: red;
  color: red;

}

/* footer */